.container {
  background: rgb(40, 59, 121);
  background: linear-gradient(0deg, rgba(40, 59, 121, 1) 0%, rgba(32, 13, 63, 1) 100%);
  color: #ffffff;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    flex-direction: column;
  }
}

.heading {
  font-size: 4rem; /* Reduced for better readability */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
  width: 100%; /* Full width on smaller screens */
  text-align: left; /* Centered for better layout */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width for content */
}

.section {
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.section:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title {
  font-size: 2.5rem; /* Adjusted for consistency */
  font-weight: 500;
  margin: 20px 0;
  color: #ffffff;
  line-height: 1.4;
}

.paragraph, .listItem {
  font-size: 1.6rem; /* Scaled for better readability */
  color: #dcdcdc;
  white-space: pre-line;
  line-height: 1.5;
}

.paragraph {
  margin: 15px 0;
}

.paragraph ul {
  padding-left: 40px;
}

.list {
  margin: 20px 0;
}

.listItem {
  font-size: 1.4rem;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.8rem;
  }

  .paragraph, .listItem {
    font-size: 1.2rem;
  }
}
