.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #ffffff;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 30px;
  }
}

.content {
  flex: 1;
  margin-right: 40px;
}

.textContent {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: 3rem; /* 48px for large screens */
  font-weight: bold;
  color: #00c897;
  margin-bottom: 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.4rem; /* 38.4px for smaller screens */
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature {
  margin-bottom: 20px;
  text-align: left;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.featureTitle {
  font-size: 1.8rem; /* 28.8px for large screens */
  font-weight: bold;
  color: #00c897;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .featureTitle {
    font-size: 1.6rem; /* 25.6px for smaller screens */
  }
}

.featureDescription {
  font-size: 1.4rem; /* 22.4px for large screens */
  color: #333;
  margin: 0;
  width: 90%;
  font-weight: 400;
}

@media (max-width: 768px) {
  .featureDescription {
    font-size: 1.2rem; /* 19.2px for smaller screens */
  }
}

.imagePlaceholder {
  width: 420px;


  border-radius: 10px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .imagePlaceholder {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    margin-top: 30px;
  }
}