.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(40, 59, 121);
  background: linear-gradient(0deg, rgba(40, 59, 121, 1) 0%, rgba(32, 13, 63, 1) 100%);
  color: #ffffff;
  padding: 50px;
  flex-direction: column;
}

.textContainer {
  max-width: 50%;
}

.headerContent {
  width: 70%;
  margin: auto;
}

.innerContents {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  margin: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.feature {
  margin-bottom: 20px;
}

.featureTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.featureDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.imagePlaceholder {

  height: 400px;
  transition: all 0.3s;
  border-radius: 10px;
}

.imagePlaceholder:hover {
  transform: scale(1.2);
}